section.images {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}
 section.images div.profile {
    display: block;
    box-sizing: border-box;
    width: 300px;
    height: 450px;
    position: relative;
    z-index: 2;
    border-width: 0px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}
div.header_poster_wrapper {
    display: flex;
    min-height: 450px;
}
section.header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    width: 700px;
    box-sizing: border-box;
    padding-left: 40px;
}
.release_date {
    font-size: 20px;
    color: #9c9c9c;
}