<div class="dashboard-wrapper mlr-35">
    <table *ngIf="!movideDetails"  class="table table-striped" [svData]="data" #sv="svDataTable" [svRowsOnPage]="20" svSortBy="name" svSortOrder="asc">
        <thead>
        <tr>
            <th width="25%">
                <sv-default-sorter by="title">Movie Title</sv-default-sorter>
            </th>
            <th>
                <sv-default-sorter by="release_date">Release Date</sv-default-sorter>
            </th>
            
            <th>
                <sv-default-sorter by="vote_average">Rating</sv-default-sorter>
            </th>
        
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of sv.data">
            <td><a class="moveTitle" (click)="movieDetails(item.id)">{{ item.title }} </a> </td>
            <td>{{ item.release_date }}</td>
            <td>{{ item.popularity }}</td>
            
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">
                <sv-bootstrap-paginator [rowsOnPageSet]="[5, 10, 25]"></sv-bootstrap-paginator>
            </td>
        </tr>
        </tfoot>
    </table>

    <app-movie-details *ngIf="movideDetails" [movideDetailsGet]="movideDetails" (backToListData)="backToListDataF($event)"></app-movie-details>
</div>

<app-loader *ngIf="isLoading"></app-loader>