
//Login Wrapper
.login-body{    
    overflow: hidden;
    background: #064F74;
    background-image: url('../../../assets/images/login-background.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 5% 10%;
    height: 100vh;
    display: flex;
    width: 100vw;
    .login-wrapper{
        margin: 0;
        overflow: hidden;
        background: white;
        padding: 3%;
        width:100%;
        height:max-content;
        p{font-size: 18px;}
        .login-container{
            .form-control{
                border: none;
                border-bottom: solid 1px #707070;
                border-radius: 0;
                padding: 0;
                height:30px;
                &:focus{
                    box-shadow: none;
                }
            }
            .btn-sign-in{
                border-radius: 30px;
                width:140px;
            }
        }
        .google-sign-in img{
            height: 35px;
            margin-right: 10px;
        }
    }
    .login-aside-bar img{
        max-height: 570px;

    }
    .invalid-feedback {
        display: block;
    }
}
.alert {
    margin-bottom: 40px;
}
