<header>
  <div class="header-wrapper pl-3 pr-3">
      <div class="row header-content align-items-center justify-content-between" style="padding-bottom: 200px;">
          <div class="app-header-left pt-3">
              <img src="../../../../../assets/images//logo-light.png"/>
          </div>
          <div class="app-header-right bg-white">
              <div class="user-profile-widget d-flex align-items-center">
                  <div class="profile-photo mr-3">
                      <img src="../../../../../assets/images//avtar.jpg"/>
                  </div>
                  <div class="user-details">
                      <p><strong>Hi {{ logedInUserName }}</strong></p> 
                      <p>Welcome to Database Management</p>
                  </div>
                  <!-- Links -->
                  <!-- <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <span class="nav-link"><strong>Email:</strong> {{ logedInUserEmail }}</span>
                    </li>
                    <li class="nav-item">
                      <span class="nav-link"><strong>Name:</strong> {{ logedInUserName }}</span>
                    </li>
                    <li class="nav-item">
                      <span class="nav-link" (click)="signOut_1()">Logout</span>
                    </li>
                  </ul> -->
                </div>
          </div>
      </div>
  </div>
</header>